<h1>Editing Candidate</h1>

<%= render 'form', candidate: @candidate %>

<%= link_to 'Show', election_candidate_path(@election, @candidate) %> |
<%= link_to 'Back', election_candidates_path(@election) %>
